.anchor
.DS_Store
target/deploy
target/debug
target/release
target/sbf-solana-solana
target/sbpf-solana-solana
**/*.rs.bk
node_modules
test-ledger
.yarn
.env
*.pem
demo-wallet.json
app/.next
app/out
*.pdf
target/.rustc_info.json
